/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .chatbot-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    max-width: 150%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: 10px; */
  }
  
  .chatbot-container h1 {
    text-align: center;
    color: #fff;
    background-color: #6366f1;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px -20px;
  }
  
  .chatbot-container .messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .chatbot-container .message {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .chatbot-container .message.user {
    justify-content: flex-end;
  }
  
  .chatbot-container .message.bot {
    justify-content: flex-start;
  }
  
  .chatbot-container .message .content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .chatbot-container .message.user .content {
    background-color: #6366f1;
    color: #fff;
    font-size: 24px;
  }
  
  .chatbot-container .message.bot .content {
    background-color: #f1f1f1;
    color: #333;
    font-size: 24px;
  }
  
  .chatbot-container .message .icon {
    margin-right: 10px;
  }
  
  .chatbot-container .message.user .icon {
    order: 1;
    margin-left: 10px;
    margin-right: 0;
  }
  
  .chatbot-container .input-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .chatbot-container textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 25px;
    outline: none;
  }
  
  .chatbot-container button {
    background-color: #6366f1;
    border: none;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chatbot-container button:hover {
    background-color: #4f46e5;
  }
  